<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/thirdym.css">
</head>
<body class="bg-danger">
    <div class="container-fluid">
        <div class="container text-center">
            <h4 id="progress-title" class="my-2 text-white">Downloading...</h4>
            <p class="my-5 text-muted" id="dl-filename">-</p>
            
            <div class="my-3 progress">
                
            </div>
        </div>
    </div>

    <script>
        const { ipcRenderer } = require("electron");

        const progressTitle = document.querySelector("#progress-title");
        const fileDisplay = document.querySelector("#dl-filename");
        const progressbarSection = document.querySelector("div.progress");
        
        ipcRenderer.on("download-progress", (e, downloadProgress) => {
            progress = parseInt(downloadProgress.progress);   
            const progressbar = `
            <div class="progress-bar bg-danger" role="progressbar" style="width: ${progress}%;" aria-valuenow="${progress}" aria-valuemin="0" aria-valuemax="100">${progress}%</div>
            `;

            progressTitle.innerHTML = downloadProgress.title;
            fileDisplay.innerHTML = downloadProgress.filename;
            progressbarSection.innerHTML = progressbar;
        })
    </script>
</body>
</html>