<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/thirdym.css">
</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-danger bg-danger">
        <div class="container-fluid">
            <h5 class="mx-5 text-decoration-none text-white" href="#">Thirdym Client</h5>
            <div class="justify-content-end">
                <a class="btn btn-danger text-white active" aria-current="page" href="#">Play</a>
                <a class="btn btn-danger disabled">Changelogs</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="container text-center">
            <h1 class="text-white py-5 border-bottom border-danger">Play Thirdym</h1>
            <button id="dl-button" onclick="downloadThirdym()" class="my-5 btn btn-danger">Download</button>
            <button id="play-button" onclick="playGame()" class="my-5 btn btn-danger d-none">Play</button>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>
