<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/thirdym.css">
</head>
<body class="bg-dark">
    <div class="container-fluid">
        <div class="container text-center">
            <h1 class="text-white my-5">Thirdym</h1>
            <button id="dl-button" onclick="downloadThirdym()" class="btn btn-danger">Download</button>
            <button id="play-button" onclick="playGame()" class="btn btn-danger d-none">Play</button>
            <button onclick="extractGame()" class="btn btn-warning">Extract game</button>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>
